:root {
    --color-background: #fff;
    --color-primary: #2193f6;
    --color-section: #f5f4fa;
    --color-text: #212121;
    --color-button: #2196F3;
}
body {
    font-family: 'Roboto',sans-serif;
    color:var(--color-text);
}
/* reset start*/
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* reset and*/
.section {
    padding: 94px 0;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.logo {
    color:var(--color-primary);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-light {
    color: var(--color-background);
}
.logo-dark {
    color: var(--color-text);
}
.header-container {
    display: flex;
}
.header {
    border-bottom: 1px solid #ececec;
}
.nav-header {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    margin-left: 93px;
}
.nav-link {
    display: block;
    color:var(--color-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em; 
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item:not(:last-child) {
    margin-right: 50px;
    align-items: center;
}
.nav-link.current {
    color: var(--color-primary);
}
.nav-link:hover,
.nav-link:focus {
    color:var(--color-primary);
}
.current::after {  
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: var(--color-primary);
    border-radius: 2px;
}
.address-list {
    display: flex;
    margin-left: auto;
}
.address-item:not(:last-child) {
    margin-right: 50px;
    align-items: center;
}
.address-link {
    display: flex;
    color: #757575;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.9;
    letter-spacing: 0.02em;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
    color:var(--color-primary); 
}
.address-icon {
    fill: currentColor;
    margin-right: 10px;
}
.features-wrapper {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    margin-right: 30px;
    background-color: var(--color-section); 
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}
.baner-header {
    margin: 0 auto;
    background-color: #2f303a;
    color: var(--color-background);
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
    background-size: 1600px;
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
}

.baner-text {
    color:var(--color-background);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}   
.baner-button {
    display: block;
    margin: 0 auto;
    width: 216px;
    min-height: 50px;
    color: #fff;
    background-color: var(--color-button);
    font-family: inherit;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.fetures-container {
    display: flex;
}
.features-list {
    display: flex;
}
.features-item {
    width: 270px;
    margin-right: 30px;
}
.features-item:last-child {
    margin-right: 0;
}
.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.features-text {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.examples {
    padding-top: 0;
}
.examples-container {
    display: flexbox;
}
.examples-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.examples-item {
    width: 370px;
    margin-right: 30px;
    margin-left: 0;
}
.examples-item:last-child {
    margin-right: 0;
}
.examples-list {
    display: flex;
}
.activity {
    display: flex;
    position: relative;
    justify-content: center;
}
.activity::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.activity-text {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    color: #FFFFFF;
}
.container-team {
    display: flex;
}
.team {
    background-color:var(--color-section);
}
.team-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}
.team-item {
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--color-background);
    border-bottom: 1px solid #ececec;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.014), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
img {
    display: block;
}
.team-members {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-text { 
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
    text-align: center;
    letter-spacing: 0.03em;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
        fill: #fff;
        background-color: var(--color-primary); 
}
.team-wrapper {
    padding: 30px 0;
}
.customers-title {
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    margin-bottom: 50px;
}
.customers-link {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8; 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.customers-link:hover,
.customers-link:focus {
    fill: var(--color-button);
    border-color: var(--color-button);
}
.customers-list {
    display: flex;
    gap: 30px;
}
.footer {
    background-color: #2f303a;
    padding: 60px 0;
    
}
.address {
    font-style: normal;
    margin-top: 20px;

}
.address-list-item:not(:last-child) {
    margin-bottom: 9px;
}
.address-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #fff;
}
.contacts-link {
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color:rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover, 
.contacts-link:focus {
    color:var(--color-primary);
}
.footer-link {
    margin-left: 70px;
    }
    .footer-text {
        color: #FFFFFF;
        text-align: center;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        line-height: 1.12;
        text-transform: uppercase;
    }
    .footer-icon-list {
        display: flex;
        gap: 10px;
    }
    .footer-icon {
        fill: #FFFFFF;
    }
    .footer-container {
        display: flex;
        align-items: baseline;
    }
    .footer-title {
        font-weight: 700;
        color: #FFFFFF;
        font-size: 14px;
        letter-spacing: 0.03em;
        line-height: 1.12;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .footer-socials {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .footer-socials:hover,
    .footer-socials:focus {
        background-color: var(--color-button);
    }
    .footer-form {
        margin-left: auto;
    }
    .form-content {
        display: flex;
    }
    .title-social {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
        
    }
    .footer-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12px;
        border-radius: 4px;
        min-width: 200px;
        height: 50px;
        color: #ffffff;
        background-color: var(--color-button);
        border: none;
        cursor: pointer;
        font-size: 16px;
        line-height: 1.9;
        text-align: center;
        letter-spacing: 0.06em;
    }
    .footer-send-icon {
        fill: #FFFFFF;
        margin-left: 10px;
    }
    .footer-email {
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        filter: drop-shadow(0px 4px 4px rgba (0, 0, 0, 0.15 ));
        border-radius: 4px;
        background-color: #2f303a;
        padding: 15px 16px;
    }
    .footer-email::placeholder {
        font-size: 16px;
        line-height: 1.2;
        color: rgba(255, 255, 255, 0.6);
    }
.filters-list {
    display: flex; 
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
} 
.filters-item:last-child {
    margin-right: 0;
}
.filters-button {
    font-weight: 700;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em; 
    background: #f5f4fa;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-button:hover,
.filters-button:focus {
    color: #FFFFFF;
    background-color:  #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
    
}
.project-wrapper {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px;
    
}
.portfolio-thumb {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
}
.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text {
    padding: 60px 24px;
    align-content: center;
    font-size: 18px;
    line-height: 1.56;
    color:#FFFFFF;
}

.project-item:hover .portfolio-overlay,
.project-item:focus .portfolio-overlay {
    transform: translateY(0);
}

img {
    display: block;
}
.project-item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item:ntn-child(3n) {
    margin-right: 0;
}
.project-item:ntn-last-child(-n+3) {
    margin-bottom: 0;
}
.project-title {
    color:var(--color-text);
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    margin-bottom: 4px;

}
.project-text {
    color: #757575;
    font-weight: 400;
    font-size: 16px ;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.project-item:hover {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: var(--color-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-name {
    margin-bottom: 12px;
    font-weight: 700;
     font-size: 20px;
     line-height: 1.15;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--color-text)
}
.modal-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--color-background);
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.close-icon {
    fill: black;
    width: 18px;
    height: 18px;
}
.close-icon:hover {
    fill: #2196F3;
    }
.form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575
    }
.form-control {
    position: relative;
    margin-bottom: 10px;
}
.form-input {
    width: 100%;
    padding: 14px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-duration) var(--transition-timing-function);
    outline: none;
}
.form-input:focus {
    border-color: var(--color-primary);
}
.comment {
width: 100%;
height: 120px;
resize: none;
padding: 12px 16px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
outline: none;
}
.comment::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-icons {
    fill: currentColor;
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.form-input:focus + .modal-icons {
    fill: var(--color-button);
}

      /* checkbox start  якась у мене біда з цим (((*/
.form-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 4px;
}
.form-check-box {
    appearance: none;
}
.checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px; 
    background-color: #fff;
}
.form-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
     font-size: 14px;
     line-height: 1.71;
     color: #757575;
     letter-spacing: 0.03em;
     gap: 8px;
}
.form-check-box:checked + .checkbox-icon {
    background-color: #2196F3;
   border-color: #2196F3;
   background-image: url('../images/checkbox.svg');
   background-size: 11px 8px;
   background-position: center;
   background-repeat: no-repeat;
}
.form-checkbox-label::before {
content: " ";
display: inline-block;
border-color: #212121;
border-radius: 2px;
margin-right: 7px;
}
.form-contract {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(33, 150, 243, 1);
}
         /* checkbox end */
.button-submit {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px  52px;
    font-weight: 700;
    font-size: 1.85;
    letter-spacing: 0.06em;
    line-height: 30px;
     background-color: #188ce8;  
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     color: #fff;
     border: none;
     cursor: pointer;
}